<form class="form-inline" *ngIf="!authService.getUser()">
	<div class="column">
		<div class="row">
			<div class="form-group column">
				<div class="row">
					<label for="username">User: (type <em>user</em>)</label>
				</div>
				<div class="row">
					<label for="password">Password: (type <em>password</em>)</label>
				</div>
			</div>
			<div class="form-group column">
				<div class="row">
					<input class="form-control" name="username" #username>
				</div>
				<div class="row">
					<input class="form-control" type="password" name="password" #password>
				</div>
			</div>
		</div>
		<div class="row">
			<a class="btn btn-default" style="background-color:blue;color:white; margin-top: 10px;" (click)="login(username.value, password.value)">Entrar!</a>
			{{mensajeError}}
		</div>
	</div>
</form>
<a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()">Salir!</a>