<div	class="card-content" [@esFavorito]="tarea.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div	class="card-img">
        <img	src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{position}}	</h4></span>
    </div>
    <div	class="card-desc">
        <h3>{{tarea.tarea}}</h3>
        <p>{{tarea.descripcion}}</p>
        <p>Metas</p>
        <ul>
            <li *ngFor="let s of tarea.metas">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'terminar en 1 hora'" style="color: red">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <div class="row" style="margin-left: 10px">
            <div class="column">
                <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="tarea_vote_up lista_destinos_item"><i class="material-icons md-18">thumb_up</i></a>
                <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="tarea_vote_down lista_destinos_item"><i class="material-icons md-18">thumb_down</i></a>
            </div>
            <div class="column" style="margin-left: 10px">
                &nbsp;
                <p>{{tarea.votes}}</p>
            </div>
            <div class="column" style="margin-left: 25px">
                <a href="#" (click)="voteReinicio()"><i>Reiniciar votos</i></a>
            </div>
        </div>
        
        <div class="row">
            <a	href="#"	class="btn-card" (click)="ir()"  appTrackearClick data-trackear-tags="tarea_elegir_priorizar lista_destinos_item">PRIORIZAR</a>
        </div>
        <span *ngIf="tarea.isSelected()">
            <span ngNonBindable style="color: #a13825; margin-right:10px;">{{PRIORIDAD}}</span>
        </span>	
        <a [routerLink]="['/tarea/5']">Ver detalle</a>
    </div>
</div>


